@mixin clearfix {
	&:after {
	content: "";
	display: table;
	clear: both;
	}
}

@function em($pixels, $context) {
	@return #{$pixels/$context}em
}
@mixin font($context: $base-font-size, $size: $base-font-size, $height: $base-line-height, $weight: 400, $font: $default-font){
	font-weight: $weight;

	$this: $size/$context;

	font-size: $this + em;
	line-height: $height/$size + em;
	font-family: $font;
}

@mixin rub{
	padding: 0 18px 0 4px;
	background: url(images/rub.png) 100% 50% no-repeat;
	color: #a12569;
	display: inline-block;
	span {
		font-weight: 700;
	}
}
@mixin rub-big{
	padding: 0 20px 0 4px;
	background: url(images/rub-big.png) 100% 50% no-repeat;
	color: #a12569;
	display: inline-block;
	span {
		font-weight: 700;
	}
}
@mixin link($color){
	line-height: 1.25em;
	color: $color;
	border-bottom: 1px solid $color;
	transition: 0.3s;
	&:hover {
		border-bottom: 1px solid transparent;
		color: darken($color, 15%);
	}
}

@mixin hone($background: #fff, $color: $default-color) {
	overflow:hidden;
	position:relative;
	div {
		display: inline;
		z-index: 2;
		position: relative;
		background: $background;
	}
	&:before {
		bottom: 1px;
		position:absolute;
		z-index: 1;
		color: $color;
		content: "...................................................................................................................................................................................................................................................................................................................................................";
	}
}
