/* Fonts */
$open-sans: 'Open Sans', sans-serif;

$default-font: $open-sans;
$base-font-size: 16;
$base-line-height: 26;
$default-color: #333;
$footer-color: #ef7bba;

/* Colors */
$grey: #777;
$link: #a12569;
$link-hov: darken($link, 15%);
$pink: #f22a93;

/* Bkg colors */
$bkg-footer: #a12569;
$bkg-slider: #e6017e;

/* Compass */

$panel: sprite-map("../images/panel/*.png");
$social: sprite-map("../images/social/*.png");
$arrows: sprite-map("../images/paging/*.png");




